/**********************
 * Position and style *
 **********************/

.wrapper, p {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: calc(100% - 12px);
	height: calc(100% - 12px - 4em);
	overflow: hidden;
}

.note-wrapper {
	margin-top: 12px;
	margin-left: 12px;
	float: left;
	overflow: hidden;
}

.note {
	background: url('../images/note-point.png') no-repeat bottom right;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.note-extra-bg {
	margin: 0;
	padding: 0;
	background: no-repeat center;
	width: 100%;
	height: 100%;
}

.note-stack {
	float: left;
}

.note-stack .note-wrapper {
	float: none;
}

.note-center-outer-full {
	width: 100%;
	display: table;
	text-align: center;
	overflow: hidden;
}

.note-center-outer {
	width: 100%;
	display: block;
	text-align: center;
	overflow: hidden;
}

.note-center-inner {
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.note-center-outer-full .note-center-inner {
	display: table-cell;
	vertical-align: middle;
}

.note-blue {
	background-color: rgb(0, 85, 164);
}

.note-light-blue {
	background-color: rgb(173, 207, 222);
}

.note-green {
	background-color: rgb(142, 190, 63);
}

.note-yellow {
	background-color: rgb(255, 203, 5);
}

.note-orange {
	background-color: rgb(244, 119, 33);
}

.note-pink {
	background-color: rgb(216, 61, 150);
}

.note-purple {
	background-color: rgb(102, 45, 145);
}

.note-white {
	background-color: rgb(255, 255, 255);
}

.note-w-20 {
	width: calc(20% - 12px);
}

.note-w-20.note-stack {
	width: 20%;
}

.note-w-40 {
	width: calc(40% - 12px);
}

.note-w-40.note-stack {
	width: 40%;
}

.note-w-60 {
	width: calc(60% - 12px);
}

.note-w-60.note-stack {
	width: 60%;
}

.note-w-80 {
	width: calc(80% - 12px);
}

.note-w-80.note-stack {
	width: 80%;
}

.note-w-100 {
	width: calc(100% - 12px);
}

.note-w-100.note-stack {
	width: 100%;
}

.note-h-1 {
	height: calc(25% - 12px);
}

.note-h-1.note-stack {
	height: 25%;
}

.note-h-2 {
	height: calc(50% - 12px)
}

.note-h-2.note-stack {
	height: 50%;
}

.note-h-3 {
	height: calc(75% - 12px);
}

.note-h-3.note-stack {
	height: 27%;
}

.note-h-4 {
	height: calc(100% - 12px);
}

.note-h-4.note-stack {
	height: 100%;
}

/*******************
 * Common elements *
 *******************/

p.note-title {
	color: #ffffff;
	text-shadow: 1px 1px rgba(0, 0, 0, .45);
	text-align: center;
	font-size: 1.8em;
	font-family: "American Typewriter", Calibri, sans-serif;
	font-weight: bold;
	padding-top: 6px;
	padding-bottom: 4px;
}

/*********
 * Clock *
 *********/

p.clock-time, p.clock-date {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-family: "American Typewriter", Calibri, sans-serif;
}

p.clock-time {
	font-size: 3.2em;
}

p.clock-date {
	font-size: 2.5em;
}

/***********
 * Twitter *
 ***********/

.tweet-content, .tweet-name {
	margin: 0 8%;
	font-weight: bold;
	color: rgb(0, 85, 164);
}

.tweet-content {
	text-align: left;
	font-size: 1.6em;
}

.tweet-name {
	text-align: right;
	font-size: 1.2em;
}

/************
 * Feedback *
 ************/

.feedback-agent, .feedback-content, .feedback-name {
	margin: 0 8%;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 1px 1px rgba(0, 0, 0, .45);
}

.feedback-agent {
	text-align: left;
	font-size: 1.6em;
	font-family: "American Typewriter", Calibri, sans-serif;
}

.feedback-content {
	text-align: left;
	font-size: 1.5em;
	font-weight: normal;
}

.feedback-name {
	text-align: right;
	font-size: 1.2em;
}

/****************
 * Leader board *
 ****************/

.leader-board-entry {
	margin: 0 8%;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 1px 1px rgba(0, 0, 0, .45);
	font-size: 1.5em;
}

.leader-board-entry span {
	display: inline-block;
	width: 2.2em;
}

/**************
 * Slide show *
 **************/

.slide-show-target {
	background: none center center;
	background-size: cover;
}

.slide-show-target div {
	height: 100%;
	position: relative;
}

.slide-show-title {
	position: absolute !important;
	bottom: 5px;
	left: 5px;
	height: auto !important;
}

.slide-show-title p {
	margin: 0;
	padding: 5px 20px;
	font-weight: bold;
	font-family: "American Typewriter";
	font-size: 2em;
	color: #ffffff;
	background-color: rgba(0, 0, 0, .45);
}

/****************
 * Call volumes *
 ****************/

.call-volumes-line {
	font-size: 1.5em;
	font-weight: bold;
	color: rgb(0, 85, 164);
}

.call-volumes-line span {
	font-size: 140%;
	color: rgb(201, 37, 44);
	font-weight: bold;
	font-family: "American Typewriter", Calibri, sans-serif;
	text-shadow: 1px 1px rgba(0, 0, 0, .45);
}